* {
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
}
section {
    width: 250px;
    height: 240px;
    border: 5px dotted rgb(35, 202, 133);
    text-align: center;
}

section p {
    border: 5px solid rgb(9, 54, 202);
    padding: 20px;
    width: 100%;

}