body {
    margin: 0;
    background: #EEEEEE;
    display: flex;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.gallery {
    margin: 70px 150px;
}

.gallery ul li {
    border: 4px solid black;
    background: white;
    padding: 15px;
    box-shadow: 1px 1px 11px -1px black;
    margin: 15px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.gallery ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}