html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    padding: 50px 100px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
}

table, th, td {
    border-collapse: collapse;
}

table {
    border: 1px solid gray;
    width:100%;
}

thead {
    background-color: rgb(204, 204, 204);
    text-align: left;
    padding: 5px;
}

tbody td {
    border-right: 1px solid gray;
}

tbody tr {
    border-bottom: 1px solid gray;
}

tbody tr:nth-child(odd) {
    background-color: rgb(241, 241, 241);
}

th, td {
    padding: 5px;
}

blockquote {
    border-left: 3px solid lightgrey;
    font-style: italic;
}

blockquote p {
    padding-left: 30px;
}

blockquote p:nth-child(3){
    text-align: right;
}