@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

li {
    list-style-type: none;
    display: inline-block;

}

li a {
    background: #EEEEEE;
    border-radius: 50%;
    padding: 10px;
    margin: 7px;
    display: inline-block;
}

li i {
    font-size: 35px;
    color: #262626;
}

.fb:hover i {
    cursor: pointer;
    color: #3E5CAA;

}

.twitter:hover i {
    cursor: pointer;
    color: #00ACED;
}

.google:hover i {
    cursor: pointer;
    color: #DD4B39;
}

.linkedin:hover i {
    cursor: pointer;
    color: #007BB6;
}

.instagram:hover i {
    cursor: pointer;
    color: #6097BB;

}